build
plans
tests
demonstration/*.mp4

extern/glfw/bin
extern/SPIRV-Reflect/bin

assets/gltf/zda_test.glb
assets/gltf/house2.glb

assets/shaders/input_structures_refactor.glsl

glb_json.json
etna_log.txt
etna_err.txt

bin
*Makefile