build/
plans/
tests/
demonstration/*.mp4

extern/glfw/bin/
extern/SPIRV-Reflect/bin/

assets/fonts/
assets/gltf/zda_test.glb
assets/gltf/house2.glb
assets/gltf/structure.glb

deprecated/

assets/shaders/TODO.txt

etna_log.txt
etna_err.txt

bin
*Makefile